<!DOCTYPE HTML>
<html>
<head>
<title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Forms :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Custom CSS -->
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<!-- Graph CSS -->
<link href="~/Content/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="~/Content/css/icon-font.min.css" type="text/css"/>
<!-- //lined-icons -->
<!-- chart -->
<script src="~/Scripts/js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="~/Scripts/js/wow.min.js"></script>
	<script>
	    new WOW().init();
	</script>
<!--//end-animate-->
<!----webfonts--->
<link href="//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
<!---//webfonts---> 
 <!-- Meters graphs -->
<script src="~/Scripts/js/jquery-1.10.2.min.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->

</head> 
   
 <body class="sticky-header left-side-collapsed"  onload="initMap()">
    <section>
 <div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="/Home/Index">Easy <span>Admin</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="/Home/Index"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li class="active"><a href="@Url.Action("reverseTestQ","ReverseTestQ")"><img src="~/Content/images/icons/7. Reverse Test icon.png"></img><span>Forms</span></a></li>
						<br>
						<li class="active"><a href="@Url.Action("showCategoriesQ","ShowCategoriesQ")"><img src="~/Content/images/icons/8. Review Words icon.png"></img><span>Forms</span></a></li>
						<br>
						<li class="active"><a href="@Url.Action("testMainQ","TestMainQ")"><img src="~/Content/images/icons/9. Exams icon.png"></img><span>Forms</span></a></li>
						<br>
						<li class="active"><a href="@Url.Action("testSummaryQ","TestSummaryQ")"><img src="~/Content/images/icons/10. Test Summary icon.png"></img><span>Forms</span></a></li>
						<br>
						<li class="active"><a href="@Url.Action("shareWithIndividualsQ","ShareWithIndividualsQ")"><img src="~/Content/images/icons/11. Share with Individuals icon.png"></img><span>Forms</span></a></li>
						<br>
						<li class="active"><a href="@Url.Action("showAllWordsQ","ShowAllWordsQ")"><img src="~/Content/images/icons/12. Share Words Online icon.png"></img><span>Forms</span></a></li>

						
						
					</ul>
				<!--sidebar nav end-->
			</div>
            
            <!--Sall we-->
            
            <!--Rit-->
            
          
		</div>
    <!-- left side end-->
    
    <!--RS-->
        <!-- left side start-->
		<div class="left-sidee sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="/Home/Index">Easy <span>Admin</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				<a href="/Home/Index"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
					<ul class="nav nav-pills nav-stacked custom-nav">
						
						
						<li class="active"><a href="@Url.Action("addNewWordQ","AddNewWordQ")"><img src="~/Content/images/icons/1. Add New Word icon.png"></img><span>Forms</span></a></li>
				  		<br>
						<li class="active"><a href="#"><img src="~/Content/images/icons/2. Show All Words.png"></img><span>Forms</span></a></li>
						<li>  

						<br>

						<li class="active"><a href="@Url.Action("showFavQ","ShowFavQ")"><img src="~/Content/images/icons/3. Show Favourites icon.png"></img><span>Forms</span></a></li>
						     
						     <br>       
						<li class="active"><a href="@Url.Action("showSkippedQ","ShowSkippedQ")"><img src="~/Content/images/icons/4. Show Skipped List icon.png"></img><span>MailBox</span></a>
							
							<br>
						</li> 
						<li class="active"><a href="@Url.Action("createANote","AddNewNoteQ")"><img src="~/Content/images/icons/5. Create a Note icon.png"></img><span>MailBox</span></a>
							
							<br>
						</li>
						<li class="active"><a href="@Url.Action("userNotesQ","UserNotesQ")"><img src="~/Content/images/icons/6. Show All Notes icon.png"></img><span>MailBox</span></a>
							
						</li> 
						
					</ul>
				<!--sidebar nav end-->
			</div>
            
            <!--Sall we-->
            
            <!--Rit-->
            
          
		</div>
    <!--caaa-->
    
    
    <!-- main content start-->
		<div class="main-content main-content3">
			<!-- header-starts -->
			<div class="header-section">
			 
			<!--toggle button start-->
			<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

			<!--notification menu start -->
			<div class="menu-right">
				<div class="user-panel-top">  	
					<div class="profile_details_left">
						<ul class="nofitications-dropdown">
							
							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><input type="image" src="~/Content/images/b7.png" width="200" height="40"alt="Submit" ></button>
									@RenderSection("DD",false)
                                   
							</li>
                            		
					@RenderSection("ChangeQ",false)

							<div class="clearfix"></div>	
						</ul>
					</div>
					<div class="profile_details">		
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">	
										<span style="background:url(~/Content/images/1.jpg) no-repeat center"> </span> 
										 <div class="user-name">
											<p>Michael<span>Administrator</span></p>
										 </div>
										 <i class="lnr lnr-chevron-down"></i>
										 <i class="lnr lnr-chevron-up"></i>
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
									<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="#"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
								</ul>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>		
					<div class="social_icons">
						<div class="col-md-4 social_icons-left">
							<a href="#" class="yui"><i class="fa fa-facebook i1"></i><span>300<sup>+</sup> Likes</span></a>
						</div>
						<div class="col-md-4 social_icons-left pinterest">
							<a href="#"><i class="fa fa-google-plus i1"></i><span>500<sup>+</sup> Shares</span></a>
						</div>
						<div class="col-md-4 social_icons-left twi">
							<a href="#"><i class="fa fa-twitter i1"></i><span>500<sup>+</sup> Tweets</span></a>
						</div>
						<div class="clearfix"> </div>
					</div>			             	
					<div class="clearfix"></div>
				</div>
			</div>
			<!--notification menu end -->
			</div>
	<!-- //header-ends -->

	@RenderBody()


	<!--footer section start-->
			<footer>
			   <p>&copy 2016 Stewart Gemmill All Rights Reserved | Design by S. Gemmill</p>
			</footer>
        <!--footer section end-->
	</section>
	

<script src="~/Scripts/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="~/Scripts/js/bootstrap.min.js"></script>
</body>
</html>